.container {
    min-width: 200px;
    max-width: 1000px;
    margin: 0 auto;
}

p.italic {
    font-style: italic;
}

h4 small, .h1 small, .small{
	/*color:#a8a8a8;*/
}

.text_type_bold{
    font-style:none;
 font-weight:bold;
}

li a:visited{
        font-weight:bold;
    }