<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bruger information</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="../bower_components/angular-chart.js/dist/angular-chart.min.js" src="filename.js" ></script>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script> -->
        <import date></import>
    </head>
    <body>

      <div class="container">
        <div class="header">
          <nav>
            <ul class="nav nav-pills pull-right">
  	          <li role="presentation" class="active"><a href="#userHome">Hjem</a></li>
              <li role="presentation" ><a href="#/home">Logud</a></li>
            </ul>
          </nav>
          <!-- <h3 class="text-muted">HjerteVen</h3> -->
          <h1>Dashboard</h1>
          <h3><small>All data pulled from Apple HealthKit</small></h3>
        </div>
      </div>

      <div ng-app="userHome" ng-controller="UserHomeCtrl">
        <div class="container">
          <div class="row">
          <div class="col-sm-2">
            <div class="panel panel-info">
              <div class="panel-heading text-center">Liste over hjerte patienter</div>
              <div class="panel-body">
                <div id="listeAfPatienter">
                  <div ng-repeat="user in users">
                  <div ng-app="organHome">
                    <div ng-click="getWeights(user.username, user.firstname, user.lastname, user.cprnr); getBloodPressure(user.username); getBodyFat(user.username)">
                      <!-- <a>{{user.cprnr}} <br> -->
                      <a>{{user.firstname + " " + user.lastname}}</a>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-5">
            <div class="panel panel-info">
              <div class="panel-heading text-center"><h4><small>Vægt for</small> {{firstname + " " + lastname}}</h4><em>fra Withings Smart
Body Analyze</em></div>
              <div class="panel-body">
                <canvas id="line" class="chart chart-line" chart-data="weightArray" chart-labels="datesW"
    chart-legend="false" chart-series="series" chart-click="onClick"></canvas>
              </div>
            </div>
          </div>

                    <div class="col-sm-5">
            <div class="panel panel-info">
              <div class="panel-heading text-center"><h4><small>Fedtprocent for</small> {{firstname + " " + lastname}}</h4><em>fra Withings Smart
Body Analyze</em></div>
              <div class="panel-body">
                <canvas id="line" class="chart chart-line" chart-data="bodyfatArray" chart-labels="datesBF"
    chart-legend="false" chart-series="series" chart-click="onClick"></canvas>
                </div>
            </div>
          </div>

             <div class="col-sm-5 col-md-offset-2">
            <div class="panel panel-success">
              <div class="panel-heading text-center"><h4><small>Blood Pressure</small> {{firstname + " " + lastname}}</h4><em>fra Withings Smart
Body Analyze</em></div>
              <div class="panel-body">
                <canvas id="line" class="chart chart-line" chart-data="bloodpressureArray" chart-labels="datesBP"
    chart-legend="false" chart-series="seriesBP" chart-click="onClick"></canvas>
              </div>
            </div>
          </div>

          <div class="col-sm-5">
            <div class="panel panel-success">
              <div class="panel-heading text-center"><h4><small>Maks. puls for</small> {{firstname + " " + lastname}}</h4><em>fra Apple Watch</em></div>
              <div class="panel-body">
                <canvas id="line" class="chart chart-line" chart-data="heartRateArrayMax" chart-labels="datesRandom"
    chart-legend="false" chart-series="series" chart-click="onClick"></canvas>
              </div>
            </div>
          </div>

          <div class="col-sm-5 col-md-offset-2">
            <div class="panel panel-success">
              <div class="panel-heading text-center"><h4><small>Puls maks. og min. for</small> {{firstname + " " + lastname}}</h4><em>fra Apple Watch</em></div>
              <div class="panel-body">
                <canvas id="line" class="chart chart-line" chart-data="seriesHeartRate" chart-labels="datesRandom"
    chart-legend="false" chart-series="series" chart-click="onClick"></canvas>
              </div>
            </div>
          </div>

          <div class="col-sm-5 col-md-offset-2">
            <div class="panel panel-info">
              <div class="panel-heading text-center"><h4><small>Mængde af skridt</small> {{firstname + " " + lastname}}</h4><em>fra Apple Watch & iPhone</em></div>
              <div class="panel-body">
                <canvas id="line" class="chart chart-bar" chart-data="stepArray" chart-labels="datesRandom"
    chart-legend="false" chart-series="series" chart-click="onClick"></canvas>
              </div>
            </div>
          </div>

          <div class="col-sm-5">
            <div class="panel panel-info">
              <div class="panel-heading text-center"><h4><small>Aktiviteter</small> {{firstname + " " + lastname}}</h4><em>fra Apple Watch & iPhone</em></div>
              <div class="panel-body">
                <canvas id="line" class="chart chart-doughnut" chart-data="activity" chart-labels="activitySerie"
    chart-legend="false" chart-series="series" chart-click="onClick" ></canvas>
              </div>
            </div>
          </div>
      </div>
</div>
    </body>
</html>
