

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="#/">Hjem</a></li>
            <li role="presentation" class="active"><a href="#">Login</a></li>
            <li role="presentation" ><a href="/signUp">Tilmeld</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">HjerteVen</h3>
      </div>

      <div class="jumbotron" ng-controller="SignInCtrl">
        <h1>HjerteVen</h1>
        <form class="form-signin">
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" name="inputUsername" id="inputUsername" ng-model="username" class="form-control" placeholder="Username"  autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" ng-model="password" class="form-control" placeholder="Password" >

        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" ng-click="signIn()">Login</button>
      </form>
      </div>



      <footer class="footer">
        <p>&copy; DTU Compute - Henrik Holm & Benjamin Johansen</p>
      </footer>

    </div>
