<div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Hjem</a></li>
            <li role="presentation"><a href="#/signin">Login</a></li>
 	          <li role="presentation"><a href="/signUp">Tilmeld</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">HjerteVen</h3>
      </div>

      <div class="jumbotron">
        <h1>HjerteVen</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="/signUp" role="button">Tilmeld dig i dag!</a></p>
      </div>



      <footer class="footer">
        <p>&copy; DTU Compute - Henrik Holm & Benjamin Johansen</p>
      </footer>

    </div>
