
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HjerteVen</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet"> -->

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="signup.css" rel="stylesheet">
    <!-- <link href="signup/signup.css" rel="stylesheet"> -->

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Hjem</a></li>
            <li role="presentation"><a href="/#/signin">Login</a></li>
            <li role="presentation" class="active"><a href="#">Tilmeld</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">HjerteVen</h3>
      </div>

      <div class="jumbotron">
        <h1>HjerteVen</h1>
        <form class="form-signin" action="/register" method="post">
        <label for="inputFirstName" class="sr-only">Fornavn</label>
        <input type="name" name="inputFirstName" id="inputFirstName" class="form-control" placeholder="Fornavn" required autofocus>
        <label for="inputLastName" class="sr-only">Efternavn</label>
        <input type="name" name="inputLastName" id="inputLastName" class="form-control" placeholder="Efternavn" required autofocus>
        <label for="inputUsername" class="sr-only">Brugernavn</label>
        <input type="name" name="inputUsername" id="inputUsername" class="form-control" placeholder="Brugernavn" required autofocus>
        <label for="inputCPRnr" class="sr-only">CPR nummer</label>
        <input type="name" name="inputCPRnr" id="inputCPRnr" class="form-control" placeholder="CPR nummer" required autofocus>
        <label for="inputPassword" class="sr-only">Kodeord</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Kodeord" required>

        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Tilmeld</button>
	<span style="color:red;"><%= error %></span>
      </form>
      </div>



      <footer class="footer">
        <p>&copy; DTU Compute - Henrik Holm and Benjamin Johansen</p>
      </footer>

    </div>
  </body>
</html>
